@import url("../../App.css"); 

.input {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.input-box {
    width: 80%;
    height: 50px;
    border: 1px solid #e6e6e649;
    border-radius: 10px;
    padding: 20px;
    background-color: #a6a6a663;
}

.input-box::placeholder {
    font-size: 15px;
    color: #4F4F4f;
}