@import url("../../App.css"); 

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button button {
    border: none;
    background-color: #ffc278;
    width: 40%;
    height: 40px;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 16px;
}
